<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Users</title>
</head>
<body>
<h2>Add a new User</h2>

<%= form_for @user do |f| %>

    <p><%= f.label :name %> <%= f.text_field :name %></p><br>
    <p><%= f.label :age %> <%= f.text_field :age %></p><br>
    <p><%= f.label :bio %> <%= f.text_area :bio %></p><br>

    <p><%= f.submit "Add User"%></p>

<%end%>


</body>

</html>